In [1]:
# Modules
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
Backpack_df = pd.read_csv('Data/train.csv')
Backpack_df.head(3)

,id,Brand,Material,Size,Compartments,Laptop Compartment,Waterproof,Style,Color,Weight Capacity (kg),Price
0,0,Jansport,Leather,Medium,7.0,Yes,No,Tote,Black,11.611723,112.15875
1,1,Jansport,Canvas,Small,10.0,Yes,Yes,Messenger,Green,27.078537,68.88056
2,2,Under Armour,Leather,Small,2.0,Yes,No,Messenger,Red,16.643760,39.17320

In [3]:
Backpack_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    300000 non-null  int64
 1   Brand                 290295 non-null  object
 2   Material              291653 non-null  object
 3   Size                  293405 non-null  object
 4   Compartments          300000 non-null  float64
 5   Laptop Compartment    292556 non-null  object
 6   Waterproof            292950 non-null  object
 7   Style                 292030 non-null  object
 8   Color                 290050 non-null  object
 9   Weight Capacity (kg)  299862 non-null  float64
 10  Price                 300000 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 25.2+ MB

### Except for ID, Compartments, and Price, the rest of the columns have nan values.

In [4]:
nan_counts = Backpack_df.isnull().sum()

In [6]:
nan_df = pd.DataFrame({'Column': nan_counts.index, 'NaN Count': nan_counts.values})
nan_df = nan_df.set_index('Column')
print(nan_df)

                      NaN Count
Column
id                            0
Brand                      9705
Material                   8347
Size                       6595
Compartments                  0
Laptop Compartment         7444
Waterproof                 7050
Style                      7970
Color                      9950
Weight Capacity (kg)        138
Price                         0

In [7]:
# check the extra training.
Backpack_ext_df = pd.read_csv('Data/training_extra.csv')
Backpack_ext_df

,id,Brand,Material,Size,Compartments,Laptop Compartment,Waterproof,Style,Color,Weight Capacity (kg),Price
0,500000,Under Armour,Canvas,Small,10.0,Yes,Yes,Tote,Blue,23.882052,114.11068
1,500001,Puma,Polyester,Small,4.0,No,Yes,Backpack,Green,11.869095,129.74972
2,500002,Jansport,Polyester,Small,8.0,Yes,Yes,Tote,Red,8.092302,21.37370
3,500003,Nike,Nylon,Large,7.0,No,No,Messenger,Pink,7.719581,48.09209
4,500004,Nike,Leather,Large,9.0,No,Yes,Tote,Green,22.741826,77.32461
...,...,...,...,...,...,...,...,...,...,...,...
3694313,4194313,Nike,Canvas,NaN,3.0,Yes,Yes,Messenger,Blue,28.098120,104.74460
3694314,4194314,Puma,Leather,Small,10.0,Yes,Yes,Tote,Blue,17.379531,122.39043
3694315,4194315,Jansport,Canvas,Large,10.0,No,No,Backpack,Red,17.037708,148.18470
3694316,4194316,Puma,Canvas,NaN,2.0,No,No,Backpack,Gray,28.783339,22.32269
3694317,4194317,Under Armour,Polyester,Medium,2.0,Yes,No,Backpack,Blue,23.076169,107.61199

In [8]:
Backpack_ext_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3694318 entries, 0 to 3694317
Data columns (total 11 columns):
 #   Column                Dtype
---  ------                -----
 0   id                    int64
 1   Brand                 object
 2   Material              object
 3   Size                  object
 4   Compartments          float64
 5   Laptop Compartment    object
 6   Waterproof            object
 7   Style                 object
 8   Color                 object
 9   Weight Capacity (kg)  float64
 10  Price                 float64
dtypes: float64(3), int64(1), object(7)
memory usage: 310.0+ MB

In [9]:
nan_ext_counts = Backpack_ext_df.isnull().sum()

In [10]:
nan_ext_df = pd.DataFrame({'Column': nan_ext_counts.index, 'NaN Count': nan_ext_counts.values})
nan_ext_df = nan_ext_df.set_index('Column')
print(nan_ext_df)

                      NaN Count
Column
id                            0
Brand                    117053
Material                 102615
Size                      81190
Compartments                  0
Laptop Compartment        91089
Waterproof                87274
Style                     96210
Color                    123667
Weight Capacity (kg)       1670
Price                         0

In [11]:
# check the test.
Backpack_test_df = pd.read_csv('Data/test.csv')
Backpack_test_df

,id,Brand,Material,Size,Compartments,Laptop Compartment,Waterproof,Style,Color,Weight Capacity (kg)
0,300000,Puma,Leather,Small,2.0,No,No,Tote,Green,20.671147
1,300001,Nike,Canvas,Medium,7.0,No,Yes,Backpack,Green,13.564105
2,300002,Adidas,Canvas,Large,9.0,No,Yes,Messenger,Blue,11.809799
3,300003,Adidas,Nylon,Large,1.0,Yes,No,Messenger,Green,18.477036
4,300004,NaN,Nylon,Large,2.0,Yes,Yes,Tote,Black,9.907953
...,...,...,...,...,...,...,...,...,...,...
199995,499995,Adidas,Canvas,Large,2.0,Yes,No,Messenger,Red,7.383498
199996,499996,Nike,Polyester,Small,9.0,No,Yes,Messenger,Pink,6.058394
199997,499997,Jansport,Nylon,Small,9.0,No,Yes,Tote,Green,26.890163
199998,499998,Puma,Nylon,Large,10.0,Yes,No,Tote,Gray,25.769153
199999,499999,Under Armour,Leather,Medium,8.0,Yes,Yes,Messenger,Pink,29.175026

In [12]:
nan_test_counts = Backpack_test_df.isnull().sum()

In [13]:
nan_test_df = pd.DataFrame({'Column': nan_test_counts.index, 'NaN Count': nan_test_counts.values})
nan_test_df = nan_test_df.set_index('Column')
print(nan_test_df)

                      NaN Count
Column
id                            0
Brand                      6227
Material                   5613
Size                       4381
Compartments                  0
Laptop Compartment         4962
Waterproof                 4811
Style                      5153
Color                      6785
Weight Capacity (kg)         77

The missing values will make it difficult to do a model for the price and 
The Root Mean Squared Error (RMSE) will be larger