In [1]:
# Modules
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
Backpack_df = pd.read_csv('Data/train.csv')
Backpack_df.head(3)

,id,Brand,Material,Size,Compartments,Laptop Compartment,Waterproof,Style,Color,Weight Capacity (kg),Price
0,0,Jansport,Leather,Medium,7.0,Yes,No,Tote,Black,11.611723,112.15875
1,1,Jansport,Canvas,Small,10.0,Yes,Yes,Messenger,Green,27.078537,68.88056
2,2,Under Armour,Leather,Small,2.0,Yes,No,Messenger,Red,16.643760,39.17320

In [3]:
Backpack_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 11 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    300000 non-null  int64
 1   Brand                 290295 non-null  object
 2   Material              291653 non-null  object
 3   Size                  293405 non-null  object
 4   Compartments          300000 non-null  float64
 5   Laptop Compartment    292556 non-null  object
 6   Waterproof            292950 non-null  object
 7   Style                 292030 non-null  object
 8   Color                 290050 non-null  object
 9   Weight Capacity (kg)  299862 non-null  float64
 10  Price                 300000 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 25.2+ MB

In [4]:
Backpack_df.describe()

                  id   Compartments  Weight Capacity (kg)          Price
count  300000.000000  300000.000000         299862.000000  300000.000000
mean   149999.500000       5.443590             18.029994      81.411107
std     86602.684716       2.890766              6.966914      39.039340
min         0.000000       1.000000              5.000000      15.000000
25%     74999.750000       3.000000             12.097867      47.384620
50%    149999.500000       5.000000             18.068614      80.956120
75%    224999.250000       8.000000             24.002375     115.018160
max    299999.000000      10.000000             30.000000     150.000000

In [5]:
Backpack_df['Brand'].value_counts()

Brand
Adidas          60077
Under Armour    59992
Nike            57336
Puma            56814
Jansport        56076
Name: count, dtype: int64

In [7]:
Backpack_df['Brand'].unique()

array(['Jansport', 'Under Armour', 'Nike', 'Adidas', 'Puma', nan],
      dtype=object)

In [11]:
Backpack_df['Brand'].replace(to_replace=np.nan, value=0,inplace=True)

In [13]:
Backpack_df[Backpack_df['Brand']==0] 
# 9705 rows

,id,Brand,Material,Size,Compartments,Laptop Compartment,Waterproof,Style,Color,Weight Capacity (kg),Price
30,30,0,Leather,Large,3.0,No,Yes,Tote,Blue,21.304434,138.32699
48,48,0,Canvas,Medium,2.0,No,No,Tote,NaN,5.000000,42.28337
90,90,0,Leather,Medium,8.0,Yes,No,Tote,Blue,16.594824,142.11363
125,125,0,Polyester,Small,8.0,No,No,Backpack,Red,7.922756,64.32242
137,137,0,Nylon,Medium,3.0,Yes,No,Backpack,Green,13.051134,34.86676
...,...,...,...,...,...,...,...,...,...,...,...
299921,299921,0,NaN,Small,7.0,No,Yes,Tote,NaN,20.419934,27.58667
299937,299937,0,Polyester,Large,8.0,No,Yes,Messenger,Gray,19.272669,74.70298
299957,299957,0,Polyester,Large,9.0,No,Yes,Tote,Black,13.619044,19.25284
299978,299978,0,Canvas,Large,6.0,Yes,No,Tote,Gray,5.000000,50.78781
299991,299991,0,Polyester,Large,7.0,No,No,Messenger,Red,27.897502,138.70658

In [14]:
Backpack_df['Material'].unique()

array(['Leather', 'Canvas', 'Nylon', nan, 'Polyester'], dtype=object)

In [15]:
Backpack_df['Material'].replace(to_replace=np.nan, value=0,inplace=True)

/var/folders/_2/nh5rkkms0rbdwypbjgwb50xh0000gn/T/ipykernel_34351/2237364322.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  Backpack_df['Material'].replace(to_replace=np.nan, value=0,inplace=True)

In [17]:
Backpack_df['Material'].value_counts()
# no material 8347

Material
Polyester    79630
Leather      73416
Nylon        70603
Canvas       68004
0             8347
Name: count, dtype: int64

In [18]:
Backpack_df['Size'].value_counts()

Size
Medium    101906
Large      98643
Small      92856
Name: count, dtype: int64

In [19]:
Backpack_df['Size'] = Backpack_df['Size'].replace(to_replace=np.nan, value=0)

In [21]:
Backpack_df['Size'].value_counts()
# without declared size 6595

Size
Medium    101906
Large      98643
Small      92856
0           6595
Name: count, dtype: int64

In [22]:
Backpack_df['Compartments'].value_counts()

Compartments
1.0     31568
4.0     31498
2.0     30595
3.0     30293
7.0     30158
9.0     29965
5.0     29959
10.0    29815
8.0     28909
6.0     27240
Name: count, dtype: int64

In [23]:
Backpack_df['Compartments'].describe()

count    300000.000000
mean          5.443590
std           2.890766
min           1.000000
25%           3.000000
50%           5.000000
75%           8.000000
max          10.000000
Name: Compartments, dtype: float64

In [24]:
Backpack_df['Laptop Compartment'].value_counts()

Laptop Compartment
Yes    148342
No     144214
Name: count, dtype: int64

In [25]:
Backpack_df['Laptop Compartment'] = Backpack_df['Laptop Compartment'].replace(to_replace=np.nan, value=0)

In [27]:
Backpack_df['Laptop Compartment'].value_counts()
# number of backpacks without a description of the laptop compartment 7444

Laptop Compartment
Yes    148342
No     144214
0        7444
Name: count, dtype: int64

In [28]:
Backpack_df['Waterproof'].value_counts()

Waterproof
Yes    148077
No     144873
Name: count, dtype: int64

In [29]:
Backpack_df['Waterproof'] = Backpack_df['Waterproof'].replace(to_replace=np.nan, value=0)

In [31]:
Backpack_df['Waterproof'].value_counts()
# number of items without descriptions of Waterproof 7050

Waterproof
Yes    148077
No     144873
0        7050
Name: count, dtype: int64